@model EntityLayer.Concrete.Product
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin: 0px 50% 20px 20px" class="form-group">
    <br />
    <h3>Yeni Ürün</h3>
    @using (Html.BeginForm("ProductAdd", "AdminProduct", FormMethod.Post))
    {
        @Html.Label("Ürün Adı", new { @class = "text-bold" })
        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ProductName)
        <br />
        @Html.Label("Kategori", new { @class = "text-bold" })
        @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Items, new { @class = "form-control" })
        <br />
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", step = "0.01" })
        <br/>
        @Html.Label("Resim Yükle")
        <input type="file" name="ImagePath" class="form-control" accept="image/*" />
        @Html.Label("Oluşturulma Tarihi", new { @class = "text-bold" })
        @Html.TextBoxFor(x => x.CreatedDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    }
</div>