
@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "Yeni Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div style="margin: 0px 50% 20px 20px" class="form-group">
    <br />
    <h3>Yeni Kategori</h3>
    @using (Html.BeginForm("CategoryAdd", "AdminCategory", FormMethod.Post))
    {
        @Html.Label("Kategori Adı", new { @class = "text-bold" })
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br />
        @Html.Label("Oluşturulma Tarihi", new { @class = "text-bold" })
        @Html.TextBoxFor(x => x.CreatedDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    }
</div>